<div class="moedas">
    <h3>Moedas</h3>
    <div class="cards">
        <p-card>
            <div class="cardIconBRLUSD">
                <span>BRL/USD</span>
                <i class="pi pi-dollar"></i>
            </div>
            <span>R$<b>{{valorRealDolar}}</b></span>
            <span></span>
        </p-card>
        <p-card>
            <div class="cardIconBTCEUR">
                <span>BTC/EUR</span>
                <i class="pi pi-dollar"></i>
            </div>
            <span>R$<b>{{valorBtcEuro}}</b></span>
            <span></span>
        </p-card>
        <p-card>
            <div class="cardIcon">
                <span>BTC/USD</span>
                <i class="pi pi-dollar"></i>
            </div>
            <span>R$<b>{{valorBtcDolar}}</b></span>
            <span></span>
        </p-card>
    </div>
</div>
