<div class="moedas">
    <div class="headMoedas">
        <span><b style="font-size: 21px;">Moedas</b></span>
        <i class="pi pi-refresh"></i>
    </div>
    <div class="cards">
        <div class="coin">
            <div class="frame4">
                <div class="frame2">
                    <span style="font-size: 21px;">BRL/USD</span>
                    <span style="font-size: 21px;">R$<b style="font-size: 29px;">{{valorRealDolar}}</b></span>
                    <span style="font-size: 14px;">Dolar Turismo</span>
                </div>
                <div class="bold">
                    <i class="pi pi-dollar"></i>
                </div>
            </div>
        </div>
        <div class="coin">
            <div class="frame4">
                <div class="frame2">
                    <span style="font-size: 21px;">BTC/EUR</span>
                    <span style="font-size: 21px;">R$<b style="font-size: 29px;">{{valorBtcEuro}}</b></span>
                </div>
                <div class="bold">
                    <img src="../../../../assets/layout/images/bitcoin.png" alt="bitcoin" />
                </div>
            </div>
        </div>
        <div class="coin">
            <div class="frame4">
                <div class="frame2">
                    <span style="font-size: 21px;">BTC/USD</span>
                    <span style="font-size: 21px;">R$<b style="font-size: 29px;">{{valorBtcDolar}}</b></span>
                </div>
                <div class="bold">
                    <img src="../../../../assets/layout/images/bitcoin.png" alt="bitcoin" />
                </div>
            </div>
        </div>
    </div>
</div>